.da-no-outline{display:none;}
.nav-link{display:none;}
.da-button-set.da-field-buttons .btn{
    color: #000000;
    background-color: #ff5400;
    border-color: #ff5400;
  }
svg.svg-inline--fa.fa-circle-question{
    color: purple;
}